<a href="https://colab.research.google.com/github/rnstr/DatatScience/blob/main/14_Data_Telco_Exploration_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Selamat, Anda Seorang Data Scientist!

Untuk studi kasus ini, anggap kalian adalah seorang data scientist di sebuah perusahaan telekomunikasi yang terkenal. 

Dengan berbekal ilmu yang didapat dari kelas Digital Skola, kalian siap untuk menyelesaikan tugas pertama kalian sebagai data scientist.

Pada kasus ini, perusahaan meminta kalian untuk mencari tahu karakteristik pelanggan-pelanggan apa saja yang akan kemungkinan _churn_, yakni pelanggan yang tidak akan menggunakan produk kita lagi. 

Data yang sudah di kumpulkan kemudian diberikan ke kalian untuk diolah. 

Tujuan utama kalian adalah:

1. Mencari karakteristik pelanggan yang berpotensi churn
2. Daftar pelanggan dari karakteristik tersebut berupa file excel

## Getting to know data

In [3]:
# import necessary modules
import pandas as pd
import os

In [8]:
# load the data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/digital skola/pandas/Telco_Churn.csv')

In [10]:
# check out first few data
df.head()

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,Electronic check,70.70,151.65,Yes

In [34]:
# check total data (7043 baris, 6 kolom)
df.shape
tot_data = len(df)

In [18]:
# show basic info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerID      7043 non-null   object
 1   gender          7043 non-null   object
 2   PaymentMethod   7043 non-null   object
 3   MonthlyCharges  7043 non-null   float64
 4   TotalCharges    7043 non-null   object
 5   Churn           7043 non-null   object
dtypes: float64(1), object(5)
memory usage: 330.3+ KB

In [19]:
df.describe()

       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000

Hmm, ada yang aneh mengenai variabel `TotalCharges`, apa ya?

A : variable bukan float, mungkin karena ada typo atau data tidak sesuai formatnya

## Getting to Know Variable

In [20]:
# Get unique value of gender 
df['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [21]:
# Get unique value of PaymentMethod
df['PaymentMethod'].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [35]:
# get total data per gender
df.groupby('gender').size() / tot_data * 100

gender
Female    49.52435
Male      50.47565
dtype: float64

In [36]:
# get total data per PaymentMethod
df.groupby('PaymentMethod').size() / tot_data * 100

PaymentMethod
Bank transfer (automatic)    21.922476
Credit card (automatic)      21.610109
Electronic check             33.579441
Mailed check                 22.887974
dtype: float64

`TotalCharges` sekilas berbentuk bilangan real, tapi kenapa pandas anggap sebagai Object?. Coba kita convert!

In [37]:
# TotalCharges found as a object/mix type, not float64, change that
df['TotalCharges'].astype('float')

ValueError: ignored

Ternyata ada data yang kosong, atau mengandung spasi, data apakah itu?

In [39]:
# find column in TotalCharges that have ''
df[df['TotalCharges'] == ' ']

,customerID,gender,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,Mailed check,20.25,,No
936,5709-LVOEQ,Female,Mailed check,80.85,,No
1082,4367-NUYAO,Male,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,Mailed check,19.85,,No
3826,3213-VVOLG,Male,Mailed check,25.35,,No
4380,2520-SGTTA,Female,Mailed check,20.00,,No
5218,2923-ARZLG,Male,Mailed check,19.70,,No
6670,4075-WKNIU,Female,Mailed check,73.35,,No
6754,2775-SEFEE,Male,Bank transfer (automatic),61.90,,No

Apa yang harus kita lakukan? Biasanya tergantung pada konteks project. Kita bisa:
1. Mengisi dengan data rata-rata
2. Menghapus data (kalau sedikit)
3. Mengisi dengan suatu nilai default

Untuk kasus ini, mari kita isi dengan nilai 0, dan coba konversi ke _float_ kembali.

In [40]:
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = 0

In [43]:
df[df['TotalCharges'] == ' ']
df['TotalCharges']= df['TotalCharges'].astype('float')

In [44]:
# use describe to show statistics of numerical column in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerID      7043 non-null   object
 1   gender          7043 non-null   object
 2   PaymentMethod   7043 non-null   object
 3   MonthlyCharges  7043 non-null   float64
 4   TotalCharges    7043 non-null   float64
 5   Churn           7043 non-null   object
dtypes: float64(2), object(4)
memory usage: 330.3+ KB

## Relasi Terhadap Churn
Kita akan melihat secara independent setiap variabel, mana yang memiliki presentase churn yang banyak sebagai sebuah karakterstik grup tersebut.

In [47]:
# distribution of gender + churn (in percentage)
df.groupby(['gender', 'Churn']).size() / tot_data *100

gender  Churn
Female  No       36.191964
        Yes      13.332387
Male    No       37.271049
        Yes      13.204600
dtype: float64

Apakah ada pola yang menonjol?

In [ ]:
# distribution of PaymentMethod + churn (in percentage)

Apakah ada pola yang menonjol?

In [ ]:
# top 10 customer id with highest MonthlyCharges

In [ ]:
# get the mean of MonthlyCharges

In [ ]:
# create tier based on MonthlyCharges based on average, whether below or above average

In [ ]:
# group based on new info, tier of monthly charges and churn

Apakah ada pola yang menonjol?

Untuk `TotalCharges`, dengan asumsi bahwa variabel ini adalah akumulasi total transaksi keseluruhan, maka kita bisa mendapatkan total durasi pelanggan bersama kita dengan membaginya dengan `MonthlyCharges`.

In [ ]:
# Assuming total Charges is represent duration of monthly charges, we could reverse calculated the duration

In [ ]:
# describe duration information

In [ ]:
# create tier of duration based on it's QIR (quarter interval range)

In [ ]:
# get distribution of DurationStatus + churn

Apakah ada pola yang menonjol?

## Kesimpulan
Dari analisa yang sudah kita lakukan, maka terdapat karakteristik yang cukup menonjol dari pelanggan yang churn, yakni:
1. Tipe pembayaran adalah 
2. Status bayaran bulanannya adalah
3. Status durasinya adalah

Nice! Kalian sudah menjawab pertanyaan (1) dengan data ala seorang data scientist.

Selanjutnya, kita tinggal mengexport data yang sesuai dengan kriteria tersebut ke dalam sebuah excel untuk dilaporkan!