### Pandas

In [1]:
import pandas as pd

In [2]:
# Series
apel = pd.Series([5,2,0,1])
print(apel[1])

# DataFrame
dfApel = pd.DataFrame([3,2,0,2], columns=['apel'], index = [1,2,3,4])
print(dfApel)

#DataFrame 2 kolom
dict1 = { 'apel' : [5,4,3,2,1], 'jeruk' : [1,2,3,4,5]}
df1 = pd.DataFrame(dict1)
print(df1)

2
   apel
1     3
2     2
3     0
4     2
   apel  jeruk
0     5      1
1     4      2
2     3      3
3     2      4
4     1      5

In [3]:
# menghitung jumlah data
print(df1.count())

#menjumlahkan total data
print(df1.sum())

#statstistik singkat
print(df1.describe())

apel     5
jeruk    5
dtype: int64
apel     15
jeruk    15
dtype: int64
           apel     jeruk
count  5.000000  5.000000
mean   3.000000  3.000000
std    1.581139  1.581139
min    1.000000  1.000000
25%    2.000000  2.000000
50%    3.000000  3.000000
75%    4.000000  4.000000
max    5.000000  5.000000

In [4]:
# mengambil subset dari data frame
apel = df1.apel
print(apel)

jeruk_apel = df1[['jeruk', 'apel']]
print(jeruk_apel)

0    5
1    4
2    3
3    2
4    1
Name: apel, dtype: int64
   jeruk  apel
0      1     5
1      2     4
2      3     3
3      4     2
4      5     1

In [5]:
# mengambil beberapa baris dari dataFrame
print(df1[0:2])
print(df1[2:])

   apel  jeruk
0     5      1
1     4      2
   apel  jeruk
2     3      3
3     2      4
4     1      5

In [6]:
# perbandingan nilai 
print(df1['jeruk'] < 3)

0     True
1     True
2    False
3    False
4    False
Name: jeruk, dtype: bool

In [7]:
# membaca baris pertama
print(df1.head(1))

   apel  jeruk
0     5      1

In [8]:
# transapose
print(df1.T)

       0  1  2  3  4
apel   5  4  3  2  1
jeruk  1  2  3  4  5

### index

In [13]:
#menggunakan index
print(df1.iloc[3])
print(df1.iloc[[1,3]])
#index 3 kolom 0 / kolom 1 dan 0
print(df1.iloc[3, [0]])
print(df1.iloc[3, [1,0]])

apel     2
jeruk    4
Name: 3, dtype: int64
   apel  jeruk
1     4      2
3     2      4
apel    2
Name: 3, dtype: int64

In [23]:
dict1 = {'apel' : [5,4,3,2,1], 'jeruk' : [1,2,3,4,5]}
df2 = pd.DataFrame(dict1, index = ['a','b', 'c','d', 'e'])
print(df2)
#menghapus baris
df3 = df2.drop('b')
print(df3)
print(df2)
df2.drop('b', inplace = True)
print(df2)

#menghapus kolom
df2.drop('jeruk', axis = 1, inplace=True)
print(df2)

   apel  jeruk
a     5      1
b     4      2
c     3      3
d     2      4
e     1      5
   apel  jeruk
a     5      1
c     3      3
d     2      4
e     1      5
   apel  jeruk
a     5      1
b     4      2
c     3      3
d     2      4
e     1      5
   apel  jeruk
a     5      1
c     3      3
d     2      4
e     1      5
   apel
a     5
c     3
d     2
e     1

In [ ]:
#membuangf data duplicate dan data kosong