### Pandas

In [1]:
import pandas as pd

In [2]:
# Series
apel = pd.Series([5,2,0,1])
print(apel[1])

# DataFrame
dfApel = pd.DataFrame([3,2,0,2], columns=['apel'], index = [1,2,3,4])
print(dfApel)

#DataFrame 2 kolom
dict1 = { 'apel' : [5,4,3,2,1], 'jeruk' : [1,2,3,4,5]}
df1 = pd.DataFrame(dict1)
print(df1)

2
   apel
1     3
2     2
3     0
4     2
   apel  jeruk
0     5      1
1     4      2
2     3      3
3     2      4
4     1      5

In [3]:
# menghitung jumlah data
print(df1.count())

#menjumlahkan total data
print(df1.sum())

#statstistik singkat
print(df1.describe())

apel     5
jeruk    5
dtype: int64
apel     15
jeruk    15
dtype: int64
           apel     jeruk
count  5.000000  5.000000
mean   3.000000  3.000000
std    1.581139  1.581139
min    1.000000  1.000000
25%    2.000000  2.000000
50%    3.000000  3.000000
75%    4.000000  4.000000
max    5.000000  5.000000

In [13]:
# mengambil subset dari data frame
apel = df1.apel
print(apel)

jeruk_apel = df1[['jeruk', 'apel']]
print(jeruk_apel)

0    5
1    4
2    3
3    2
4    1
Name: apel, dtype: int64
   jeruk  apel
0      1     5
1      2     4
2      3     3
3      4     2
4      5     1

In [14]:
# mengambil beberapa baris dari dataFrame
print(df1[0:2])
print(df1[2:])

   apel  jeruk
0     5      1
1     4      2
   apel  jeruk
2     3      3
3     2      4
4     1      5

In [15]:
# perbandingan nilai 
print(df1['jeruk'] < 3)

0     True
1     True
2    False
3    False
4    False
Name: jeruk, dtype: bool

In [18]:
# membaca baris pertama
print(df1.head(1))

   apel  jeruk
0     5      1

In [19]:
# transapose
print(df1.T)

       0  1  2  3  4
apel   5  4  3  2  1
jeruk  1  2  3  4  5